body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: rgb(59, 59, 59);
}
.card {
  max-width: 600px;
  padding: 20px;
  margin: auto;
  background-color: rgb(159, 161, 163);
  border-radius: 8px;
}
a {
  margin: 8px 0;
  color: #ffffff;
  text-decoration: none;
}

h1 {
  margin-bottom: 10px;
}
