body{
    background-color: rgb(181, 172, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#form{
    background-color: rgb(214, 211, 216);
    display: flex;
    height: 100%;
    width: 80vw;
    flex-direction: column;
    align-items: center;
}