*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #262C3D;
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-usuario{
    font-size: 50pt;
}

.icone-usuario:hover{
    cursor: pointer;
}

.login-cabecalho{
    margin-left: 72%;
    display: flex;
    align-items: center;
}

body{
    color: #C3C3C3;
    background-color: #9282A8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.titulo-cabecalho{
    font-size: 50pt;
}

.botao-main{
    padding: 10px;
    font-size: 18pt;
    width: 100%;
    background-color: #262C3D;
    color: #C3C3C3;
    border: 3px solid #C3C3C3;
    border-radius: 6px;
    transition: ease-in-out 0.5s;
}

a{
    text-decoration: none !important;
    color: #C3C3C3;
}

.botao-main:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #353e55;
}

.botoes-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15%;
    width: 20vw;
    height: 40vh;
    margin-top: 10%;
}